export CONSUMER_KEY="<consumer-key>"
export CONSUMER_SECRET="<consumer-secret>"
export ACCESS_TOKEN="<access-token>"
export ACCESS_TOKEN_SECRET="<access-token-secret>"
export PRISMATIC_API_TOKEN="<prismatic-interest-graph-api-token>"
